@use "../../styles.scss" as global;

.product-card{

    img{
        border-radius: global.$border-radius;
    }
}
.product-card-data{
    display: flex;
    flex-direction: column;
    padding  : 1rem;
    gap : 1rem;
}

.product-card-name-price{
    display: flex;
    justify-content: space-between;
    color : global.$color-primary-base;
    font-weight: 600;

    a{
        color : global.$color-primary-base;
    }
}

.product-card-descrption-basket{
    display: flex;
    justify-content: space-between;
    align-items: center;

    p{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }
}