@use "./../../../styles.scss" as global;
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

header{
    height: global.$header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position : relative;
    padding : 1rem;

    h1{
        color : global.$color-primary-base
    }
}