@use "./../../../styles.scss" as global;

.nav-bar{
    height: global.$nav-bar-height;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    ul{
        display: flex;
        list-style: none;
        gap : 2rem;

        li{
            font-size: 1.2rem;
            transition: 0.2s;
            
            a{
                text-decoration: none;
                color : black;

                &:hover{
                    color : global.$main-red-500
                }
            }

            &:hover{
            text-decoration: underline;
            }
        }
    }
}