@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&family=Nothing+You+Could+Do&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
//Fonts
$brand-font : 'Caveat Brush';
$text-font : "MontSerrat", sans-serif;

//Colors
$color-primary-base: #873131;
$color-primary-light : #DB9E9E;
$color-accent-base : #358585;

$color-text : #2E2E2E;
$color-background : #FFFFFF;

//Break-points
$bp-max-mobile : 600px;
$bp-max-tablet : 1000px;

//Layout elements heigts
$header-height: 4rem;
$nav-bar-height : 4rem;
$footer-height: 7rem;

//Other
$border-radius : 10px;

:root {
    font-family:  'Montserrat', sans-serif;
}
@mixin box-shadow{
        box-shadow: 0px 0px 10px 5px #0000001a;
}

@mixin backdrop-blur{
    backdrop-filter: blur(10px); 

}


*{
    margin: 0;
    padding: 0;
    font-family: $text-font;
    box-sizing: border-box;
}
body{
    margin : 0;
}


h1{
    font-family:$brand-font;
    font-size: 2rem;
}

h2{
    font-family: $brand-font;
    width: 100%;
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    color : $color-text
}


footer{
    height: $footer-height;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include box-shadow();

    a{
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        color : black;
        transition : 0.2s;

        &:hover{
            text-decoration: underline;
            color : $color-primary-base;
        }
    }

    img{
        width : 1.5rem;
        margin-left: 1rem;
    }
    
}

main{
    min-height: calc(100vh - $footer-height - $header-height);
    max-width: 1300px;
}

button{

    &:hover{
        cursor: pointer;
    }
}


.button-icon{
    color : $color-primary-base;
    border : none;
    background-color: transparent;
    font-size : 1.5rem;
}

@mixin button-base{
    text-decoration: none;
    padding: 0.5rem 1rem ;
    border-radius: 50px;
    display: flex;
    gap : 1rem;
    justify-content: center;
    align-items: center;
}

.button-primary{
    @include button-base;
    background-color:$color-primary-base ;
    color : $color-background;
    border: 1px transparent;
}

.button-secondary{
    @include button-base;
    background-color:$color-background ;
    color : $color-primary-base;
    border : 1px solid $color-primary-base;
}