@use "./../../styles.scss" as global; 

.home-links{
    display: flex;
    flex-direction: column;
    gap : 1rem;
    margin-top: 2rem;
}

.home-card {
    position: relative;
    background-color: beige;
    border-radius: global.$border-radius;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./../../assets/serpentine-light.jpg);
    background-size: cover;
    filter : brightness(120%) saturate(50%);
    z-index: 0;
    
    a{
        position: absolute;
        z-index: 2;
        height: 100%;
        width: 100%;
        border-radius: global.$border-radius;

        
        display: flex;
        flex-direction: center;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-family: global.$brand-font;
        color : black;
        transition: 0.2s;
        text-shadow: 0px 0px 5px black;
        
        &:hover{
            @include global.backdrop-blur;
        }

        h3{
            font-size: 1.5rem;
            text-align: center;
        }
    }
}

.home-carrousel{
    margin-top: 2rem;
    margin-bottom: 2rem;

    img{
        width: 100%;
        border-radius: global.$border-radius;
    }
}