@use "./../../styles.scss" as global; 

.home-links{
    display: flex;
    flex-direction: column;
}

.home-card {
    position: relative;
    background-color: global.$color-background;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap : 1rem;
    align-items: center;
    background-size: cover;
    color : global.$color-text;
    
    a{
        text-decoration: none;    
    
        color : global.$color-primary-base;

    }

    &:nth-child(even){
        background-color: global.$color-primary-base;
        color : global.$color-background;
        
        a{
            color : global.$color-background;
        }
    }
    
}

.home-carrousel{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;


    img{
        width: 100%;
        border-radius: global.$border-radius;
    }
}

.home-button-all-products{
    position: absolute;
    bottom: 1rem;
}

.carrousel-nav-buttons{
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}